table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 600px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
}

td, th {
    width: 80px;
    height: 30px;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

th:first-child, th:nth-child(n){    
    background-color: rgb(159, 239, 252);
    text-decoration-line: underline;
    font-family: cursive;
    position: sticky;
    left: 0;
    top: 0;
}


tr:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

tbody tr:last-child {
    border: 1px solid orange;
}

.empty {
    z-index: 1;
}