.box {
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.527);
    margin: auto;
    border-radius: 20px;
}

div.box:hover {
    background-color: rgba(0, 0, 0, 0.699);
}

img {
    float:left
}

p {
    float: left;
    color: white;
    padding-top: 15px;
    font-family: cursive;
    font-size: 20px;
}

p:hover {
    text-decoration-line: underline;
    color: yellow;
    cursor: pointer;
    text-shadow: 2px 2px black;
}

