.text-center {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box {
    font-size: 1.2em;
    font-family: Cambria, serif;
    color: #0e4881;
    border-bottom: 3px dotted #0e4881;
}
.dots {
    text-decoration: underline dotted rgb(0, 0, 0);
    }
.graynred {
    background-color: rgb(230, 230, 230);
    color: rgb(167, 0, 0);
}
code {
    display: block;
    white-space: pre;
    background-color: rgb(230, 230, 230);
    font-weight: 900;
    font-size: 13px;
}
.h3 {
    background-color: aqua;
}
.smalltext {
    font-size: small;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 189, 180);
}